@page "/fidelity-form"

@using FidelityCard.Lib.Models
@using System.Text.Json
@inject HttpClient Http
@inject IJSRuntime JS


<div class="text-center py-3" style="height:fit-content;">
    <img src="img\logo.avif" style="width:min(30%, 150px)" />
    <h1 class="fs-3 m-0">Registrazione utente</h1>
</div>

<EditForm Model="Fidelity" OnSubmit="HandleSubmit" class="p-3">
<DataAnnotationsValidator />
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger">@ErrorMessage</div>
    }
    
    <!-- Prima riga: Nome e Cognome -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="Nome" class="form-label">Nome</label>
            <InputText id="Nome" @bind-Value="Fidelity.Nome" class="form-control"/>
            <ValidationMessage For="@(() => Fidelity.Nome)" />
        </div>
        <div class="col-md-6">
            <label for="Cognome" class="form-label">Cognome</label>
            <InputText id="Cognome" @bind-Value="Fidelity.Cognome" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Cognome)" />
        </div>
    </div>

    <!-- Seconda riga: Email, Data di nascita, Sesso -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="Email" class="form-label">Email</label>
            <InputText id="Email" readonly="readonly" @bind-Value="Fidelity.Email" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Email)" />
        </div>
        <div class="col-md-3">
            <label for="DataNascita" class="form-label">Data di nascita</label>
            <InputDate id="DataNascita" @bind-Value="Fidelity.DataNascita" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.DataNascita)" />
        </div>
        <div class="col-md-3">
            <label for="Sesso" class="form-label">Sesso</label>
            <select class="form-control" @onchange="(e) => Fidelity.Sesso = (string?)e.Value">    
                <option value="">-- Seleziona un elemento --</option>    
                    @foreach (var item in Helpers.SessoType)    
                    {
                        <option value="@item.Value">@item.Key</option>
                    }
            </select>
            <ValidationMessage For="@(() => Fidelity.Sesso)" />
        </div>
    </div>

    <!-- Terza riga: Indirizzo e Località -->
    <div class="row mb-3">
        <div class="col-md-6">
            <label for="Indirizzo" class="form-label">Indirizzo</label>
            <InputText id="Indirizzo" @bind-Value="Fidelity.Indirizzo" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Indirizzo)" />
        </div>
        <div class="col-md-6">
            <label for="Localita" class="form-label">Località</label>
            <InputText id="Localita" @bind-Value="Fidelity.Localita" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Localita)" />
        </div>
    </div>

    <!-- Quarta riga: CAP, Provincia, Nazione, Cellulare -->
    <div class="row mb-3">
        <div class="col-md-2">
            <label for="Cap" class="form-label">CAP</label>
            <InputText id="Cap" @bind-Value="Fidelity.Cap" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Cap)" />
        </div>
        <div class="col-md-2">
            <label for="Provincia" class="form-label">Provincia</label>
            <InputText id="Provincia" @bind-Value="Fidelity.Provincia" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Provincia)" />
        </div>
        <div class="col-md-2">
            <label for="Nazione" class="form-label">Nazione</label>
            <InputText id="Nazione" @bind-Value="Fidelity.Nazione" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Nazione)" />
        </div>
        <div class="col-md-6">
            <label for="Cellulare" class="form-label">Cellulare</label>
            <InputText id="Cellulare" @bind-Value="Fidelity.Cellulare" class="form-control" />
            <ValidationMessage For="@(() => Fidelity.Cellulare)" />
        </div>
    </div>

    <!-- Pulante di submit -->
    <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary px-5">
            Salva
        </button>
    </div>

</EditForm>


@code {
    [SupplyParameterFromQuery(Name = "email")] public string Email { get; set; } = string.Empty;


    private string ErrorMessage { get; set; } = string.Empty;
    Fidelity Fidelity = new();
    public static CustomSettings? CustomSettings { get; set; } = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Fidelity.Email = Email;
    }

    protected override async Task OnAfterRenderAsync(bool first)
    {
        await base.OnAfterRenderAsync(first);
        // if (CustomSettings == null)
        {
            var manifestData = await JS.InvokeAsync<Dictionary<string, JsonElement>>("manifestInterop.getManifest");
            CustomSettings = JsonSerializer.Deserialize<CustomSettings>(manifestData["custom_settings"]);
        }
    }
    private async Task HandleSubmit()
    {
        ErrorMessage = string.Empty;

        var actionurl = CustomSettings?.EndpointSede;
        var dbsede = CustomSettings?.DbNameSede;
        if (string.IsNullOrEmpty(dbsede))
        {
            throw new Exception("Il nome del database sede non è stato specificato");
        }

        var request = new RequestSede(){
            Request = new()
            {
                DbName = dbsede,
                SpName = "xTSP_API_Get_Fidelity_Code",
                CalledFrom = "APP FIDELIT"
            } 
        };
        var response = await Http.PostAsJsonAsync(actionurl, request);

        // Fidelity.CdFidelity = "0000012";

        if (response.IsSuccessStatusCode)
        {
            actionurl = Path.Combine(CustomSettings?.Endpoint ?? string.Empty, "api/FidelityCard");
            response = await Http.PostAsJsonAsync(actionurl, Fidelity);

            if (response.IsSuccessStatusCode)
            {
                // Salvataggio riuscito
                Fidelity = new(); // Reset del form
            }
            else
            {
                ErrorMessage = await response.Content.ReadAsStringAsync();
            }
        }

    }
}

